@model BabyCiao.Models.NannyResume

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h5 mt-4">詳細資訊</h1>
            <div class="card">
                <div class="card-body p-3">
                    <h4 class="card-title">詳細資料</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">專業照片</dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.ProfessionalPortrait))
                            {
                                <img src="@Model.ProfessionalPortrait" alt="Professional Portrait" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/大頭照.png" alt="Default Professional Portrait" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                        </dd>

                        <dt class="col-sm-2">保母帳號</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.NannyAccountUserAccountNavigation.Account)</dd>

                        <dt class="col-sm-2">城市</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.City)</dd>

                        <dt class="col-sm-2">區域</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.District)</dd>

                        <dt class="col-sm-2">介紹</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Introduction)</dd>

                        <dt class="col-sm-2">托育類型</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.TypeOfDaycare)</dd>

                        <dt class="col-sm-2">服務項目</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.ServiceItems)</dd>

                        <dt class="col-sm-2">準公共托育</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.QuasiPublicChildcare)</dd>

                        <dt class="col-sm-2">可托育2歲以下</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.ChildcareAvailableUnder2)</dd>

                        <dt class="col-sm-2">可托育2歲以上</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.ChildcareAvailableOver2)</dd>

                        <dt class="col-sm-2">語言</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Language)</dd>

                        <dt class="col-sm-2">服務中心</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.ServiceCenter)</dd>

                        <dt class="col-sm-2">內部照片1</dt>
                        <dd class="col-sm-10">
                            @* @if (!string.IsNullOrEmpty(Model.InternalPhoto1))
                            {
                                <img src="@Model.InternalPhoto1" alt="Internal Photo 1" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/環境照1.jpg" alt="Default Internal Photo 1" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                        </dd>

                        <dt class="col-sm-2">內部照片2</dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.InternalPhoto2))
                            {
                                <img src="@Model.InternalPhoto2" alt="Internal Photo 2" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/環境照1.jpg" alt="Default Internal Photo 2" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                        </dd>

                        <dt class="col-sm-2">內部照片3</dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.InternalPhoto3))
                            {
                                <img src="@Model.InternalPhoto3" alt="Internal Photo 3" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/環境照1.jpg" alt="Default Internal Photo 3" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                        </dd>

                        <dt class="col-sm-2">內部照片4</dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.InternalPhoto4))
                            {
                                <img src="@Model.InternalPhoto4" alt="Internal Photo 4" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/環境照1.jpg" alt="Default Internal Photo 4" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                        </dd>

                        <dt class="col-sm-2">內部照片5</dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.InternalPhoto5))
                            {
                                <img src="@Model.InternalPhoto5" alt="Internal Photo 5" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <img src="~/img/環境照1.jpg" alt="Default Internal Photo 5" class="img-thumbnail" style="width: 150px; height: 150px;" />
                            } *@
                        </dd>

                        <dt class="col-sm-2">顯示控制</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.DisplayControl)</dd>
                    </dl>
                </div>
            </div>
            <div class="mt-3">
                <a asp-action="Index" class="btn btn-secondary btn-sm">返回列表</a>
            </div>
        </div>
    </div>
</div>
