@model BabyCiao.Models.Contract


<h1>合約細項</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NannySignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NannySignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuiledTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuiledTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUserAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUserAccountNavigation.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NannyAccountUserAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NannyAccountUserAccountNavigation.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContractId">編輯</a> |
    <a asp-action="Index">回到列表</a>
</div>
