@model IEnumerable<BabyCiao.Models.BabyResume>

@{
    ViewData["Title"] = "家長委託單";
}

<div class="page-content form-page">
    <!-- 頁面標題-->
    <div class="bg-dash-dark-2 py-4">
        <div class="container-fluid">
            <h2 class="h5 mb-0">@ViewData["Title"]</h2>
        </div>
    </div>
    <!-- 麵包屑導航-->
    <div class="container-fluid py-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3 px-0">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">聯絡人</li>
                <div class="d-flex justify-content-end mt-4">
                    <a asp-action="Create" class="btn btn-primary btn-sm">新增</a>
                </div>
            </ol>
        </nav>
    </div>
    <section class="pt-0">
        <div class="container-fluid">
            <div class="row gy-4 msnry-grid">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body px-3 py-4">
                                <a class="stretched-link d-flex align-items-center text-reset" href="@Url.Action("Details", "BabyResumes", new { id = item.Id })">
                                    @if (!string.IsNullOrEmpty(item.Photo))
                                    {
                                        <img class="avatar avatar-lg" src="@item.Photo" alt="@item.FirstName" style="width: 100px; height: 100px; object-fit: cover;">
                                    }
                                    else
                                    {
                                        <img class="avatar avatar-lg" src="/img/大頭照.png" alt="Default Image" style="width: 100px; height: 100px; object-fit: cover;">
                                    }
                                    <div class="ms-3 overflow-hidden">
                                        <h5 class="card-text mb-0">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                                        <p class="card-text text-uppercase text-muted text-sm">@Html.DisplayFor(modelItem => item.City)</p>
                                        <p class="card-text">@Html.DisplayFor(modelItem => item.District)<br><abbr title="Phone">帳號:</abbr>@Html.DisplayFor(modelItem => item.AccountUserAccountNavigation.Account)</p>
                                    </div>
                                </a>
                                <div class="mt-3">
                                    <p><strong>申請日期:</strong> @Html.DisplayFor(modelItem => item.ApplyDate)</p>
                                    <p><strong>需求日期:</strong> @Html.DisplayFor(modelItem => item.RequireDate)</p>
                                    <p><strong>寶寶年齡:</strong> @Html.DisplayFor(modelItem => item.Babyage)</p>
                                    <p><strong>托育類型:</strong> @Html.DisplayFor(modelItem => item.TypeOfDaycare)</p>
                                    <p><strong>時段:</strong> @Html.DisplayFor(modelItem => item.TimeSlot)</p>
                                    <p><strong>備註:</strong> @Html.DisplayFor(modelItem => item.Memo)</p>
                                    <p><strong>顯示:</strong> @Html.DisplayFor(modelItem => item.Display)</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">刪除</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
