@model BabyCiao.Models.CompetitionDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompetitionDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUserAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUserAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetitionPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOnlineCompetitionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOnlineCompetitionNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回到論壇管理首頁</a>
</div>
