@model BabyCiao.Models.DTO.GroupBuyDTO
@inject UserInfoServer userInfoServer


@{
    string name = userInfoServer.GetUserName();
}
@{
    ViewData["Title"] = "創建團購商品";
}
@section Styles
{
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <style>
        .preview {
            width: 200px;
            border: 1px solid #ccc;
            margin-top: 10px;
            object-fit: cover;
            margin-right: 10px;
        }

        .preview-container {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
}
<h1>創建</h1>

<h4>團購商品</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAccount" class="control-label"></label>
                <input asp-for="UserAccount" class="form-control" value="@name" readonly>
                <span asp-validation-for="UserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>


            <div id="productFormats">
                <div class="product-format d-flex align-items-center">

                    <label asp-for="@Model.ProductFormats[0].FormatType" class="control-label m-1">規格</label>
                    <select asp-for="@Model.ProductFormats[0].FormatType" class="form-control m-1">
                        <option value="尺寸">尺寸</option>
                        <option value="顏色">顏色</option>
                        <option value="其他">其他</option>
                    </select>
                    <input asp-for="@Model.ProductFormats[0].FormatName" class="form-control" />
                    </div>
            </div>
            <button type="button" class="btn btn-outline-secondary mb-3" id="addFormat">新增規格</button>


            <div class="form-group">
                <label class="control-label">商品分類</label>
                <select asp-for="ProductType" id="productCategory" class="form-control">
                    <option value="">選擇商品分類</option>
                    <!-- 媽咪用品 -->
                    <optgroup label="媽咪用品">
                        <option value="孕婦裝">孕婦裝</option>
                        <option value="托腹帶/束腹帶">托腹帶/束腹帶</option>
                        <option value="孕哺內衣/內褲">孕哺內衣/內褲</option>
                        <option value="產後護理">產後護理</option>
                        <option value="哺乳用品">哺乳用品</option>
                        <option value="媽媽包">媽媽包</option>
                    </optgroup>
                    <!-- 寶寶用品 -->
                    <optgroup label="寶寶用品">
                        <option value="尿布">尿布</option>
                        <option value="奶瓶/奶嘴">奶瓶/奶嘴</option>
                        <option value="濕紙巾">濕紙巾</option>
                        <option value="嬰兒車">嬰兒車</option>
                    </optgroup>
                    <!-- 玩具 -->
                    <optgroup label="玩具">
                        <option value="益智玩具">益智玩具</option>
                        <option value="毛絨玩具">毛絨玩具</option>
                        <option value="積木">積木</option>
                    </optgroup>
                    <!-- 嬰兒服飾 -->
                    <optgroup label="嬰兒服飾">
                        <option value="衣物">衣物</option>
                        <option value="外套">外套</option>
                        <option value="鞋襪">鞋襪</option>
                        <option value="紗布巾/浴巾/口水巾">紗布巾/浴巾/口水巾</option>
                    </optgroup>
                    <!-- 奶粉和食品 -->
                    <optgroup label="奶粉和食品">
                        <option value="奶粉">奶粉</option>
                        <option value="嬰兒輔食">嬰兒輔食</option>
                        <option value="零食">零食</option>
                    </optgroup>
                    <!-- 洗護用品 -->
                    <optgroup label="洗護用品">
                        <option value="洗髮露">洗髮露</option>
                        <option value="沐浴露">沐浴露</option>
                        <option value="護膚品">護膚品</option>
                    </optgroup>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="TargetCount" class="control-label"></label>
                <input asp-for="TargetCount" class="form-control" />
                <span asp-validation-for="TargetCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statement" class="control-label"></label>
                <select asp-for="Statement" class="form-control">
                    <option value="進行中">進行中</option>
                    <option value="出貨中">出貨中</option>
                    <option value="已結束">已結束</option>
                </select>
                <span asp-validation-for="Statement" class="text-danger"></span>
            </div>
            <label asp-for="Display" class="control-label"></label>
            <div class="form-check">
                <label><input type="checkbox" asp-for="Display" checked/>顯示</label>
                <br>

            </div>
            <div class="form-group">
                <label asp-for="ModifiedTimeView" class="control-label"></label>
                <input asp-for="ModifiedTimeView" class="form-control" readonly />
                <input type="hidden" asp-for="ModifiedTime" class="form-control" readonly />
                <span asp-validation-for="ModifiedTimeView" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.PhotoFiles" for="fileInput" class="control-label"></label>
                <input type="file" asp-for="PhotoFiles" id="fileInput" class="form-control" multiple />
                @* <span asp-validation-for="PhotoFiles" class="text-danger"></span> *@
                <div id="preview-container" class="preview-container"></div>

            </div>
            <div class="form-group">
                <div class="form-group mb-2">
                    <input type="submit" value="儲存" class="btn btn-secondary my-3" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="GroupBuy" asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-rotate-left"></i>返回列表</a>
</div>
@section Scripts {

    <script>

        $(document).ready(function () {
            $('#productCategory').select2({
                placeholder: '選擇商品分類',
                width: '100%',
                allowClear: true
            });
        });


        document.getElementById('fileInput').addEventListener('change', function (event) {
            var files = event.target.files;
            var previewContainer = document.getElementById('preview-container');
            previewContainer.innerHTML = ''; // 清空現有預覽

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = (function (file) {
                        return function (e) {
                            var img = document.createElement('img');
                            img.src = e.target.result;
                            img.className = 'preview';
                            previewContainer.appendChild(img);
                        };
                    })(file);
                    reader.readAsDataURL(file);
                }
            }
        });

        //動態加入規格
        document.getElementById('addFormat').addEventListener('click', function () {
            var fieldCount = document.querySelectorAll('#productFormats .product-format').length;
            var newFieldHtml = `
                                    <div class="form-group product-format d-flex align-items-center">
                             <label for="ProductFormats_${fieldCount}__FormatType" class="control-label m-1">規格</label>
                                                                                                                                                    <select name="ProductFormats[${fieldCount}].FormatType" class="form-control m-1">
                                            <option value="尺寸">尺寸</option>
                                            <option value="顏色">顏色</option>
                                            <option value="其他">其他</option>
                                        </select>
                                                                                                                <input type="text" name="ProductFormats[${fieldCount}].FormatName" class="form-control" />
                                                                                               <button type="button" class="btn btn-outline-danger m-1" onclick="removeField(this)">-</button></div>
                `;
            document.getElementById('productFormats').insertAdjacentHTML('beforeend', newFieldHtml);
        });
        function removeField(button) {
            const fieldToRemove = button.closest('.form-group');
            fieldToRemove.remove();
        }
    </script>
}