@model BabyCiao.Models.DTO.GroupBuyDTO

@{
    ViewData["Title"] = "訂單管理";
}

<h1>訂單明細</h1>

<div>
    <h4>團購訂單</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinUserAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinUserAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewJoinModifiedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewJoinModifiedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Shipped" asp-route-id="@Model.JoinId">確認出貨</a> |
    <a asp-action="Index">Back to List</a>
</div>
