@model BabyCiao.Models.Platform

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Platform</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">最後更新時間
            @* @Html.DisplayNameFor(model => model.ModifiedTime) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt class = "col-sm-2">標題
            @* @Html.DisplayNameFor(model => model.Title) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">內文
            @* @Html.DisplayNameFor(model => model.Content) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">分類
            @* @Html.DisplayNameFor(model => model.Type) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">顯示控制
            @* @Html.DisplayNameFor(model => model.Display) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt class = "col-sm-2">發布者帳號
            @* @Html.DisplayNameFor(model => model.AccountUserAccountNavigation) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUserAccountNavigation.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回到論壇管理列表</a>
</div>
