@model IEnumerable<BabyCiao.Models.Platform>

@{
    ViewData["Title"] = "Index";
}

<h1>論壇管理</h1>

<p>
    <a asp-action="Create">管理員公告</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model=>Model.ModifiedTime)
            </th>
            <th>
                @Html.DisplayNameFor(Model=>Model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.AccountUserAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountUserAccount)
                </td>
            @* <td>
            @Html.DisplayFor(modelItem => item.AccountUserAccountNavigation.Account)
            </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square fs-3"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-text-center fs-3"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash fs-3"></i></a>
                </td>
                <br />
            </tr>
        }
    </tbody>
</table>
