@model BabyCiao.Models.DTO.NannyRequirementDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NannyRequirment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceCriminalRecordCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceCriminalRecordCertificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildCareCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildCareCertificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalIdentificationCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalIdentificationCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressesOfAgencies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressesOfAgencies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidPeriodsOfCertificates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidPeriodsOfCertificates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
