@model IEnumerable<BabyCiao.Models.DTO.NannyRequirementDTO>
@{
    var StatementDictionary = ViewBag.StatementDictionary as Dictionary<int, string>;
}

<h1>保母審核</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                審核
            </th>
            <th>
                審核時間</br>
                狀態
            </th>
            <th>
                申請時間</br>
                申請帳號</br>
                申請地址
            </th>
            <th>
                良民證
            </th>
            <th>
                保母證
            </th>
            <th>
                身分證
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a asp-controller="NannyRequirments" asp-action="Edit" asp-route-Id="@item.Id">審核</a><br />
                    <a asp-controller="NannyRequirments" asp-action="Delete" asp-route-Id="@item.Id">退件</a>
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.ValidPeriodsOfCertificates)<br />
                @* @StatementDictionary[item.Statement] *@
                </td>
                 <td>
                @Html.DisplayFor(modelItem => item.RequirementDate)<br />
                @Html.DisplayFor(modelItem => item.NannyAccountUserAccount)<br />
                @Html.DisplayFor(modelItem => item.AddressesOfAgencies)
                </td>
                <td>
                    <img src="img/保母證照/@item.photoA" width="100" />
                </td>
                <td>
                    <img src="img/保母證照/@item.photoB" width="100" />
                </td>
                <td>
                    <img src="img/保母證照/@item.photoC" width="100" />
                </td>

       </tr>}
  </tbody>
</table>
@functions {
    private string GetImageHtml(string fileName, string 保母證照)
    {
        return !string.IsNullOrEmpty(fileName)
            ? $"<img src=\"/保母證照/{fileName}\" width=\"100\" />"
            : "<img src=\"/img/noImage.jpg\" width=\"100\" />";
    }
}