@model BabyCiao.Models.DTO.OnlineCompetitionsDTO

@{
    ViewData["Title"] = "Details";
}

<h1>投票活動管理</h1>

<div>
    <h4>投票活動詳細資訊</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">活動名稱
            @* @Html.DisplayNameFor(model => model.CompetitionName) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetitionName)
        </dd>
        <dt class = "col-sm-2">活動開始時間
            @* @Html.DisplayNameFor(model => model.StartTime) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">活動結束時間
            @* @Html.DisplayNameFor(model => model.EndTime) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">活動介紹
            @* @Html.DisplayNameFor(model => model.Content) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">最後更新時間
            @* @Html.DisplayNameFor(model => model.ModifiedTime) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt class = "col-sm-2">活動進度
            @* @Html.DisplayNameFor(model => model.Statement) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUserAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUserAccountNavigation.Account)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回到活動列表</a>
</div>
