@model IEnumerable<BabyCiao.Models.OnlineCompetition>

@{
    ViewData["Title"] = "Index";
}


<h1>投票活動管理</h1>

<a type="button" class="btn btn-outline-secondary mb-4" asp-action="Create">創建新活動</a>
<br/>
  <div class="row">
    <main class="col-12">
       <table class="table">
          <thead>
              <tr>
                  <th>
                        @Html.DisplayNameFor(model => model.CompetitionName)
                  </th>
                  <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                  </th>
                  <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                  </th>
                  <th>
                        @Html.DisplayNameFor(model => model.Statement)
                  </th>
                
                    <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model)
              {
                  <tr>
                     <td>
                     @Html.DisplayFor(modelItem => item.CompetitionName)
                     </td>
                     <td>
                     @Html.DisplayFor(modelItem => item.StartTime)
                     </td>
                     <td>
                     @Html.DisplayFor(modelItem => item.EndTime)
                     </td>   
                     <td>
                     @Html.DisplayFor(modelItem => item.Statement)
                     </td>
                     <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square fs-3"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-text-center fs-3"></i></a>   |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash fs-3"></i></a>
                     </td>
                  </tr>
              }
          </tbody>
       </table>
    </main>
        
  </div>



