@model IEnumerable<BabyCiao.Models.DTO.AuthDTO>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().GroupCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GroupDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ModifiedPersonUserAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ModifiedDate)
            </th>
            <th>Settings</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedPersonUserAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    <ul>
                        @foreach (var setting in item.settings)
                        {
                            <li>@setting.FunctionCode - @setting.FunctionName</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GroupCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GroupCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GroupCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
