@model BabyCiao.Models.Announcement

@{
    ViewData["Title"] = "刪除";
}

@section Styles {
    <style>
        div dl:nth-child(2n+1) {
            background-color: #f6dec8;
        }

        div dl:nth-child(2n) {
            background-color: #fff4ef;
        }

        
    </style>
}
<div class="container">
    <div class="row">
        <h1>刪除</h1>

        <h3>確定要刪除此公告?</h3>
        <hr />
        <div class="container">
            <div class="row">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PublishTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PublishTime)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tittle)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tittle)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        圖片
                    </dt>
                    <dd class="col-sm-10">
                        <div class="w-50 border d-flex align-items-center">
                            <img src="~/images/2405120211035901.png" alt="無圖片" class=" rounded mx-auto d-block img-fluid " />
                        </div>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Article)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Article)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ReferenceName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ReferenceName)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ReferenceRoute)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ReferenceRoute)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Display)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Display)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AccountUserAccountNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AccountUserAccountNavigation.Account)
                    </dd>
                </dl>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="刪除" class="btn btn-danger" /> |
            <a asp-action="Index">取消新增(返回前頁)</a>
        </form>

    </div>

</div>



    
    
    

