@model IEnumerable<BabyCiao.Models.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUserAccountNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountUserAccountNavigation.Account)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
