@model IEnumerable<BabyCiao.Models.Announcement>


<h1>公告管理</h1>

<p>
    <a asp-action="Create">新增公告</a>
    <a asp-action="Test_aaa">test</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <partial name="_Index" model="@item"/> 
                <label for="@Html.DisplayFor(modelItem => item.Id)">顯示</label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.Id">詳細內容</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        
        $(function () {
            $(':checkbox').on('click', function () {
                var Id = this.id;
                $.ajax({
                    type:"post",
                    url: `/Announcements/Index/${Id}`,
                
                }).done(function (result) {
                    // alert(Id);
                }).fail(function (e) { 
                    alert('變更失敗');
                });
            })
        })
    </script>
}